:root {
    --text-color : #555;
    --text-primary-color : #222;
    --text-second-color: #f65e39; 
    --header-height : 80px;
}

* {
    box-sizing: inherit;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Bitter', serif;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-primary-color);
}

.main {
    overflow: hidden;
}

.mt-42 {
    margin-top: 42px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-56 {
    margin-top: 56px;
}

.mt-48 {
    margin-top: 48px;
}

.img-fluid {
    width: 100%;
}

.d-none {
    display: none !important;
}

.none-decoration {
    text-decoration: none;
}

.text-decoration {
    text-decoration: underline !important;
}

.slide {
    display: flex;
    flex-wrap: nowrap;
}

.silde-scoll {
    max-width: 100%;
    overflow-x: auto;
}

.silde-scoll::-webkit-scrollbar {
    display: none;
}


/* Title Panel */
.title-panel__name {
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 3rem;
    display: block;
    margin-bottom: 12px;
}

.title-panel__name--xl {
    font-size: 2.6rem;
}

.title-panel__content {
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.title-panel__content a {
    color: var(--text-primary-color);
}