.header {
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: var(--header-height);
    z-index: 999;
}

.header__logo {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    padding: 10px 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header__logo-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: transparent;
    line-height: 0;
}

.header__logo-link .svg-icon:hover {
    fill: var(--text-second-color);
}

.header__search {
    padding: 0 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.header__search {
    display: flex;
    margin-left: 15px;
    height: min-content;
    align-items: center;
}

.header__search-item {
    display: flex;
    align-items: center;
    color: var(--text-primary-color);
    padding: 10px 16px;
    position: relative;
}

.header__search-item:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 80%;
    transform: translateY(-50%);
    border-left: 1px solid #e7e7e7;
}

.header__search-item--icon {
    display: block;
    margin-right: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.7rem;
}

.header__search--lable {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.7rem;
    cursor: pointer;
}

.header__search-input {
    width: 268px;
    border: none;
    outline: none;
    cursor: text;
}

.header__search-input::placeholder {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-primary-color);
    font-family: 'Bitter', serif;   
}

.header__search-btn {
    background-color: #555;
    color: white;
    padding: 10px 21px;
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1.4rem;
    cursor: pointer;
}

.header__search-btn i {
    font-weight: 400;
}

.header__function {

}

.header-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.header__navbar {
    display: none;
}

.header__navbar-icon {
    font-size: 25px;

}

.header__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.header__item {
    position: relative;
}

.header__item--active::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 50%;
    top: -3px;
    right: 3px;
}

.header__link {
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 5px 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.header__link:hover {
    color: var(--text-second-color);
}

.header__item--language {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.header__item--language-img {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    margin-right: 6px;
}

.header__item--language-icon {
    margin-left: 6px;
    height: 20px;
}

/* Container */

.container {
    margin-top: calc(var(--header-height) + 42px);
    display: block;
}

/* Banner */
.banner {
    width: 100%;
    min-height: 80px;
    display: inline-block;
    position: relative;
}

.banner-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    right: 40px;
    list-style: none;
    display: flex;
}

.slick-dot {
    display: block;
    margin: 0 5px;
}

.slick-dot.slick-dot--active button {
    background-color: rgba(0, 0, 0, 0.5);
}

.slick-dot button {
    padding: 0;
    border-radius: 50%; 
    border: none;
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}



/* Local slide */
.local-slide {
    position: relative;
}

.local__item {
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
}

.local__item-img {
    padding-top: 100%;
    background: top center / cover no-repeat;
    border-radius: 5px;
    min-height: 300px;
}

.local__item-content {
    position: absolute;
    top: 200px;
    left: 24px;
    color: white;
}

.local__item-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 12px 0 8px 0;
}

.local__item-quality {
    font-size: 1.6rem;
    line-height: 2rem;
}

.local-slide__left,
.local-slide__right {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
}

.local-slide__left:hover ,
.local-slide__right:hover {
    box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
    color: var(--text-second-color);
}

.local-slide__left-icon {
    padding: 20px;
    font-size: 1.6rem;
}

.local-slide__left {
    left: -15px;
}

.local-slide__right {
    right: -15px;
}

.local-slide__none-direct {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Sales */
.sales-section {
    position: relative;
}

.sales__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Suggest section */
.suggest-section-slide {
    position: relative;
}

.suggest__item-link {
    text-decoration: none;
    color: var(--text-color);
}

.suggest__item-img {
    padding-top: 60%;
    background: top center / cover no-repeat;
    border-radius: 5px;
}

.suggest__item-content {
    margin-top: 12px;
}

.suggest__item-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.4rem;
}

.suggest__item-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}
 
.suggest__item:hover .suggest__item-text {
    color: var(--text-second-color);
}

.suggest-section-slide .local-slide__left, 
.suggest-section-slide .local-slide__none-direct,
.suggest-section-slide .local-slide__right {
    top: 40%;
    transform: translateY(-70%);
}

/* Discover section */
.discover-section {
    position: relative;
}

.discover__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
}

.discover__item-img {
    padding-top: 50%;
    background: top center / cover no-repeat;
    border-radius: 5px;
}

.discover__item-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.discover__item-header {
    display: block;
    text-transform: uppercase;
    width: fit-content;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 28px;
    border-radius: 10px;
    margin: 24px;
}

.discover__item-title {
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 600;
    padding: 24px;
}

/* Guide section */
.guide-section {
    position: relative;
}
.guide__item-img {
    padding-top: 50%;
    background: top center / cover no-repeat;
    border-radius: 5px;
}

/* Contact section */
.logo-xl {
    width: 345px;
    margin-bottom: 18px;
}

.contact__item-heading {
    font-size: 3.2rem;
    line-height: 3.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}


.contact__item-content {
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-bottom: 16px;
    text-align: justify;
}

.contact__item-link--qrcode {
    padding: 12px;
    border: 1px solid rgb(0, 0, 0, 0.09);
    width: fit-content;
}

.contact__item-link--qrcode-img {
    width: 180px;
    
}

.contact__item-img {
    width: 100%;
}
.contact__item-link--apps{
    display: flex;
    align-items: center;
}

.contact__item-link--app {
    margin-bottom: 16px;
    cursor: pointer;
}

/* Footer */
.footer {
    border-top: 1px solid rgb(0, 0, 0, 0.09);
}

.footer__menu {
    margin-top: 48px;
    display: block;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__contact {
    
}

.footer__contact-item {
    display: flex;
    margin-bottom: 24px;
}

.footer__contact-item-content {
    margin-left: 8px;
}

.footer__contact-item-content--title {
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.8rem;
}

.footer__contact-item-content--link {
    font-size: 1.2rem;
    color: var(--text-primary-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.footer__heading {
    padding: 6px 0 24px 0;
    font-size: 1.4rem;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__item {

}

.footer__item-link {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 1.4rem;
    font-size: 500;
    line-height: 3.2rem;
}

.footer__item-link:hover {
    color: var(--text-second-color);
}

.footer__policy-list {
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.footer__policy-list .footer__policy-item{
    padding-left: 0;
}

.footer__policy-item-img {
    max-height: 50px;
}

.social-link {
    padding-right: 20px;
}

.footer__coppyright {
    padding: 24px 0;
    border-top: 1px solid rgb(0, 0, 0, 0.09);
    background: #f6f6f6;
}

.footer__coppyright-content {
    color: #999;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 1px;
}
